<div class="medium-3 columns">
		<div class="sidebar"data-anchor="content">

		<h4>{{ i18n "recipesBookSidebar" }}</h4>
		<p>
			<a href="/recipes_book/">
                <img src='/img/digikam-recipes.png' alt='digiKam Recipes'>
			</a>
		</p>
		<!-- <h4>{{ i18n "donateTitleSidbar" }}</h4> -->
		<!-- <p><a href="#">{{ i18n "donateBodySidebar" }}</a></p> -->
  {{ if isset .Site.Params.sidebar "about" }}
    <h4>{{ i18n "about" }}</h4>
    <p>{{ .Site.Params.sidebar.about | markdownify }}</p>
  {{ end }}

  {{ $num_recent_posts := (index .Site.Params.sidebar "num_recent_posts" | default 5) }}

  <h4>{{ i18n "latestNews" }}</h4>
  <ul>
    {{ range first $num_recent_posts (where .Site.Pages "Type" "news") }}
      <li><a href="{{.RelPermalink}}">
        {{.Title | markdownify }}
      </a></li>
    {{ end }}
  </ul>

  {{ with .Site.Menus.sidebar }}
    <h4>{{ i18n "links" }}</h4>
    <ul>
      {{ range . }}
        <li><a href="{{ .URL | absURL }}">
						{{ .Name }}
        </a></li>
				{{ end }}
    </ul>
		{{ end }}

		<h4>
				<a href="https://digikam.org/index.xml">
						<i class="fa fa-rss"></i> digiKam news
				</a>
		</h4>

  </div>
</div>
